.content{
    /* background: #282d35; */
    height: 88vh;
    font-family: sans-serif;
    background-image: url('../assets/react-icon-14.png');
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: right;
}

.content > h1 {
    margin-top: 0px;
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
    color: white;
}

.content > ul {
    width: 500px;
    margin: auto;
}

.content > ul >li {
    padding: 5px;
    font-size: 28px;
    color: white;
    padding-block: 10px;
}

.content > ul >li::marker {
    font-size: 2.4rem;
    color: #61DAFB;
}
